@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    height: 170px;
    margin-top: 35px;
    text-align: center;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 40px;
    margin-top: 15px;
    padding: 0 10px;
    cursor: pointer;
}

.icon:hover{
    color: gray;
}