<div class="wrapper">
    <img src="assets/img/otaku4k_black.png">
    <div class="social">
        <div class="button">
            <div class="icon">
                <fa-icon [icon]="facebook"></fa-icon>
            </div>
        </div>
        <div class="button">
            <div class="icon">
                <fa-icon [icon]="twitter"></fa-icon>
            </div>
        </div>
        <div class="button">
            <div class="icon">
                <fa-icon [icon]="instagram"></fa-icon>
            </div>
        </div>
        <div class="button">
            <div class="icon">
                <fa-icon [icon]="youtube"></fa-icon>
            </div>
        </div>
    </div>

    <p>Copyright © 2022. Otaku 4k</p>
</div>

