<header>
    <a [routerLink]="['/home']" class="logo" id="logo1"><img src="assets/img/otaku4k_white.png" alt=""></a>
    <a [routerLink]="['/home']" class="logo" id="logo2"><img src="assets/img/otaku4k_black.png" alt=""></a>
    <ul>
        <li><a [routerLink]="['/home']" fragment="event">événements</a></li>
        <li><a [routerLink]="['/home']" fragment="crew" >à propos</a></li>
        <li><a [routerLink]="['/home']" fragment="fans">fans</a></li>
        <li><a [routerLink]="['/home']" fragment="track">extrait</a></li>
    </ul>
</header>